.DS_Store
.mc-lists.el
.places
.smex-items
ac-comphist*
ido.last
places
projectile-bookmarks.eld
projectile.cache
recentf
tramp
url/cookies
vendor/
nrepl-history
jabber*
elpa/
emacs-nav*
eshell/history
backups/
auto-save-list/
.cask/
*~
userspecific.el
user.el
custom.el
el-get/
srecode-map.el
emacs_workgroups
bookmarks
eshell/
var/